<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>22894909209-blpnqkgnnhnsni9mfd9kt0vt9fm9kblg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.22894909209-blpnqkgnnhnsni9mfd9kt0vt9fm9kblg</string>
	<key>API_KEY</key>
	<string>AIzaSyBM2kiz3C0erSOhh7tn3_ZEnOFcyJYKUvc</string>
	<key>GCM_SENDER_ID</key>
	<string>22894909209</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ChatApp.ios</string>
	<key>PROJECT_ID</key>
	<string>chattapp-3eeed</string>
	<key>STORAGE_BUCKET</key>
	<string>chattapp-3eeed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22894909209:ios:fcac61d118630a50</string>
	<key>DATABASE_URL</key>
	<string>https://chattapp-3eeed.firebaseio.com</string>
</dict>
</plist>