<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>401860912129-36vs86bov1ths34jkncnde8eoefbfgvf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.401860912129-36vs86bov1ths34jkncnde8eoefbfgvf</string>
	<key>API_KEY</key>
	<string>AIzaSyAe0XmXm1nfhtTZQ_RDqV-47C66ywfANwY</string>
	<key>GCM_SENDER_ID</key>
	<string>401860912129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Login.ios</string>
	<key>PROJECT_ID</key>
	<string>insy-4931-assignment-4</string>
	<key>STORAGE_BUCKET</key>
	<string>insy-4931-assignment-4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:401860912129:ios:a17a66768e2de751</string>
	<key>DATABASE_URL</key>
	<string>https://insy-4931-assignment-4.firebaseio.com</string>
</dict>
</plist>